<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rods And Cods</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="auth-links">
        <a href="/login" class="auth-link">Login</a>
        <a href="/signup" class="auth-link">Sign Up</a>
      </div>
      Welcome to Rods and Cods - Freshwater Fishing Supplies
    </nav>
  </header>

  <h1>Tackle that Box <%= @id %> </h1>

  <div class="product-grid">

      <div class="product-card">
        <video controls>
          <source src="/planet.mp4" type="video/mp4" class="product-image">
        </video>
        <h3>Article</h3>
        <h4>Description</h4>
        <h6>Category</h6>
      </div>
  </div>

  <footer>
    &copy; <%= Time.now.year %> Rods And Cods. Happy Fishing!
  </footer>
</body>
</html>